body {
    font-family: Arial, Helvetica, sans-serif;
}
 #lotto {
    border-radius: 100%;
    
}
#fokep {

}
section {
    background-color: darkgray;
    width: 30%;
}
#menu {
    
}
.nav-link {
    color: white;
}