body {
    font-family: Arial, Helvetica, sans-serif;
}
 #lotto {
    border-radius: 100%;
    border-image: fill url();
}
#fokep {
width: 500px;
}
section {
    background-color: darkgray;
    width: 500px;
}
#menu {
    
}
.nav-link {
    color: white;
}