body {
    font-family: Arial, Helvetica, sans-serif;
}
 #kor {
    border-radius: 100%;
    background-color: rgb(45, 158, 96);
    width: 200px;
    height: 200px;
    position: absolute; top: 80px; left: 150px;
}
#kt {
    position: absolute;
    width: inherit;
    height: auto;
    top: 25%;
    text-align: center;
    transform: translateY(-30%);
    font-size: 300%;
    color: white;
}
#fokep {
width: 500px;
}
section {
    background-color: darkgray;
    width: 500px;
}
#menu {
    background-color: gray;
    line-height: 50px;

}
.nav-link {
    color: white;
}