.gyakoriszam
{
    width: 6vw;
    float: left;
    position: relative;
    top: -110px;
    left: 80px;
}
.gysz {
    float: left;
    position: relative;
    top: -92px;
}
.db {
    top: -100px;
    left: 100px;
    position: relative;
    font-size: 200%;
}
.rangsor {
    font-weight: lighter;
}
#gysz1 {
    left: 16.5px;
}
#gysz2 {
    left: 16px;
}
#gysz3 {
    left: 10px;
}

.rangsor{
    font-size: 2.5vw;
}

.elso{
    margin-top: 5vw;
}