.golyo{
    width: 6vw;
    float: left;
    position: relative;
    left: 3.5vw;
    top: -6vw;
}

.fajta{
    float: left;
    position: relative;
    top: -5vw;
}
.db{
    top: -5.4vw;
    left: 20%;
    position: relative;
    font-size: 200%;
}

.elhelyezes{
    left: -1%;
}
.elhelyezes2{
    left: 18%
}

.top{
    font-weight: lighter;
    font-size: 2.3vw;
}

.elso{
    margin-top: 5vw;
}